html,
header {
  width: 1440px;
}

html,
.search {
  margin-inline: auto;
}

body,
.recipes-filter-ingredients,
.recipes-filter-appliances,
.recipes-filter-ustensils,
p,
.name-ingredient {
  margin: 0;
}

.background,
.recipe-time,
.search-tag-icon {
  position: relative;
}

header {
  background-image: url(./assets/background.png);
  height: 667px;
}

.logo {
  margin-left: 69px;
  padding-top: 46px;
}

h2 {
  color: #ffd15b;
  width: 668px;
  font-size: 44px;
  margin-inline: 386px;
  margin-top: 168px;
}

h2,
.recipes-filter-ingredients,
.recipes-filter-appliances,
.recipes-filter-ustensils {
  text-align: center;
}

h2,
.recipe-title,
.number-recipe {
  font-family: Anton;
}

h2,
.recipe-title,
.recipe-description,
.quantite,
.selected-ingredient-item-text,
.selected-appliance-item-text,
.selected-ustensil-item-text,
.number-recipe {
  font-weight: 400;
}

.search {
  width: 954px;
  height: 72px;
  padding: 0px 10px;
}

.search,
.filters,
.recipes-filter-ingredients,
.recipes-filter-appliances,
.recipes-filter-ustensils,
.filter-ingredients,
.filter-appliances,
.filter-ustensils,
.recipes-card,
.recipe-time,
button,
.list-option-tag-ingredients,
.list-option-tag-appliances,
.list-option-tag-ustensils,
.ingredients,
.ingredient-item,
.appliance-item,
.ustensil-item,
.selected-ingredient-item-text,
.selected-appliance-item-text,
.selected-ustensil-item-text,
.selected-item {
  display: flex;
}

.search,
.recipes-filter-ingredients,
.recipes-filter-appliances,
.recipes-filter-ustensils {
  border-radius: 11px;
}

.search,
article,
button {
  background-color: white;
}

.search,
.filter-ingredients,
.filter-appliances,
.filter-ustensils,
button,
.ingredient-item,
.appliance-item,
.ustensil-item,
.selected-ingredient-item-text,
.selected-appliance-item-text,
.selected-ustensil-item-text {
  justify-content: space-between;
}

.search,
.filter-ingredients,
.filter-appliances,
.filter-ustensils,
.recipe-time,
.ingredient-item button,
.appliance-item button,
.ustensil-item button,
.selected-item,
.selected-ingredient-item-text,
.selected-appliance-item-text,
.selected-ustensil-item-text {
  align-items: center;
}

input {
  border: #fff;
  width: 90%;
  height: 48px;
  margin-left: 20px;
  outline: none;
}

.search img {
  width: 27px;
  height: 28px;
  padding: 12px;
  background-color: #1b1b1b;
}

.search img,
.selected-ingredient-item-text,
.selected-appliance-item-text,
.selected-ustensil-item-text {
  border-radius: 10px;
}

main {
  background: #ededed;
}

.filters {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  gap: 60px;
}

.recipes-filter-ingredients,
.recipes-filter-appliances,
.recipes-filter-ustensils {
  background: white;
  width: 195px;
  height: 100%;
}

.recipes-filter-ingredients,
.recipes-filter-appliances,
.recipes-filter-ustensils,
.recipes-card,
.ingredients,
.selected-item {
  flex-wrap: wrap;
}

label,
.recipe-section h3,
.recipe-ingredients {
  font-weight: 700;
}

label,
.recipe-time,
.recipe-section h3,
.recipe-ingredients,
.recipe-description,
.name-ingredient,
.quantite,
.ingredient-item,
.appliance-item,
.ustensil-item,
.selected-ingredient-item-text,
.selected-appliance-item-text,
.selected-ustensil-item-text {
  font-family: Manrope;
}

.recipes-card {
  margin-inline: 102px;
  gap: 48px;
  padding-bottom: 110px;
}

article {
  border-radius: 21px;
}

article,
.recipe-image {
  width: 380px;
}

.recipe-image-time,
.recipe-image {
  height: 253px;
}

.recipe-image {
  object-fit: cover;
  border-radius: 21px 21px 0 0;
}

.recipe-time {
  width: 33px;
  border-radius: 14px;
  padding: 5px 15px;
  top: -234px;
  left: 77%;
  justify-content: center;
}

.recipe-time,
.recipe-section h3,
.recipe-ingredients {
  font-size: 12px;
}

.recipe-title {
  margin-top: 32px;
}

.recipe-title,
.number-recipe {
  font-size: 18px;
}

.recipe-title,
.recipe-section,
.ingredients-section {
  margin-inline: 25px;
}

.recipe-section {
  margin-top: 29px;
}

.recipe-section h3,
.recipe-ingredients {
  letter-spacing: 1.08px;
  margin-bottom: 15px;
}

.recipe-section h3,
.recipe-ingredients,
.quantite {
  color: #7a7a7a;
}

.recipe-description,
.name-ingredient,
.quantite,
.selected-ingredient-item-text,
.selected-appliance-item-text,
.selected-ustensil-item-text {
  font-size: 14px;
}

.ingredient {
  width: 165px;
}

.name-ingredient button {
  font-weight: 500;
}

.name-ingredient button,
.number-recipe {
  color: #1b1b1b;
}

.quantite {
  margin-bottom: 21px;
}

.filter-ingredients,
.filter-appliances,
.filter-ustensils,
.search-tag-input-ingredient,
.search-tag-input-appliance,
.search-tag-input-ustensils,
button {
  width: 100%;
}

.search-tag-input-ingredient,
.search-tag-input-appliance,
.search-tag-input-ustensils {
  border: solid 2px rgb(202, 202, 202);
  border-radius: 3px;
  margin-left: 0;
  height: 36px;
  width: 155px;
}

.search-tag-input-ingredient,
.search-tag-input-appliance,
.search-tag-input-ustensils,
.search-tag-icon {
  color: rgb(202, 202, 202);
}

.search-tag-icon {
  right: -67px;
  top: -29px;
}

.list-option-tag-ingredients,
.list-option-tag-appliances,
.list-option-tag-ustensils {
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  width: 162px;
  padding-left: 0;
  overflow-y: auto;
  max-height: 189px;
  margin-block: 0;
}

.recipes-filter-ingredients,
.recipes-filter-appliances,
.recipes-filter-ustensils,
button {
  border: none;
}

button {
  font-size: 16px;
  padding-block: 16px;
}

.recipe-time,
.ingredient-item:hover,
.selected-ingredient-item-text {
  background-color: #ffd15b;
}

.appliance-item:hover,
.selected-appliance-item-text {
  background-color: #7cfc00;
}

.ustensil-item:hover,
.selected-ustensil-item-text {
  background-color: #ff7f00;
}

.search img,
.ingredient-item,
.appliance-item,
.ustensil-item,
.recipes-filter-ingredients,
.recipes-filter-appliances,
.recipes-filter-ustensils,
button,
.selected-ingredient-item-text,
.selected-appliance-item-text,
.selected-ustensil-item-text {
  cursor: pointer;
}

li {
  list-style: none;
  margin-inline: -16px;
  padding-inline: 16px;
}

::-webkit-scrollbar,
.search-list-option,
.ingredient-item button,
.appliance-item button,
.ustensil-item button {
  display: none;
}

button,
.search-tag,
.list-option-tag-ingredients,
.list-option-tag-appliances,
.list-option-tag-ustensils {
  padding-inline: 17px;
}

.dropdown-btn {
  border-radius: 11px;
}

.ingredient-item button,
.appliance-item button,
.ustensil-item button {
  background-color: transparent;
  width: 9px;
  padding: 0;
}

.selected-item {
  gap: 20px;
  padding-inline: 100px;
  padding-bottom: 43px;
}

.selected-ingredient-item-text,
.selected-appliance-item-text,
.selected-ustensil-item-text {
  padding: 17px 18px;
  min-width: 59px;
  height: 16px;
}

.selected-ingredient-item-text i,
.selected-appliance-item-text i,
.selected-ustensil-item-text i {
  padding-left: 20px;
}

.number-recipe {
  margin-left: auto;
  margin-right: 102px;
}
